---
import Layout from "../../layouts/Layout.astro";
import ResponseForm from "../../components/ResponseForm";
import prisma from "../../lib/prisma";

// get user post information via dynamic routing of the username in the url
const id = Astro.params.id;
const post = await prisma.posts.findFirst({
  where: {
    post_id: id
  }
});
---
<Layout title="Answer Question">
<main>
    This is the question page. Get the post id from the url and 
    get the post from the database. Then display the post.

    <article class="flex flex-col gap-2 p-6 border items-baseline rounded-md">
        <span class="inline-block px-2 bg-blue-200 text-xs uppercase font-medium text-blue-800 rounded-md">
          {post?.post_language}
        </span>
        <p>{post?.question}</p>
      </article>

      <ResponseForm client:load />



</main>
</Layout>
