---
import AppLayout from "@layouts/AppLayout.astro";
import AnswerForm from "@components/AnswerForm";
import prisma from "@lib/prisma";
import Instructions from "@components/Instructions.astro";
import Heading from "@components/Heading.astro";

// get user post information via dynamic routing in the url
const id = Astro.params.documentId;
const post = await prisma.posts.findFirst({
  where: {
    post_id: id,
  },
});
---

<AppLayout title="Language Learner">
      <Heading title="Respond to a question" />
      <Instructions description="Choose a question that intrests you and submit your response?" />
      <div class="p-4 bg-white rounded-md">
        <article
          class="flex flex-col gap-2 p-6 border items-baseline rounded-md"
        >
          <span
            class="inline-block px-2 bg-blue-200 text-xs uppercase font-medium text-blue-800 rounded-md"
          >
            {post?.post_language}
          </span>
          <p>{post?.question}</p>
        </article>
        <AnswerForm post_id={id as string} client:load />
      </div>
</AppLayout>