---
import Layout from "../../layouts/Layout.astro";
import prisma from "../../lib/prisma";
import { auth } from "../../lib/firebase/server";

// get user profile information via dynamic routing of the username in the url
// const postID = Astro.params.postID;
// const post = await prisma.user.findFirst({
//   where: {
//     post_id: postID,
//   }
// });

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/login");
}
/* Verify session cookie and get user */
let user;
try {
  const decodedClaims = await auth.verifySessionCookie(sessionCookie, true);
  user = await auth.getUser(decodedClaims.uid);
} catch (error) {
  return Astro.redirect("/login");
}
---

<Layout title="Ask a question!">
  <main>
    <h1>Create a Question:</h1>
    <!-- <PostForm client:load /> -->
  </main>
</Layout>

<style>
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    line-height: 225%;
  }

  .selection-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5%;
  }

  .post-button {
    float: right;
    margin-right: 7%;
    background-color: #18ab29;
    border-radius: 20px;
    border: 2px solid #18ab29;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px;
    text-decoration: none;
  }
  .post-button:hover {
    background-color: #5cbf2a;
  }
  .post-button:active {
    position: relative;
    top: 1px;
  }
</style>
