---
import Layout from "@layouts/Layout.astro";
import prisma from "@lib/prisma";
import { getUserIdFromCookie } from "@lib/utils";
import "../components/style.css";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/login");
}
/* Verify session cookie and get user */
const user = await getUserIdFromCookie(sessionCookie);

if (!user) {
  return Astro.redirect("/login");
}
/* find my posts */
const postsFromDB = await prisma.posts.findMany({
  where: {
    user_id: user,
  },
  select: {
    question: true,
    post_id: true,
    has_response: true,
    post_language: true,
  },
});

/* TODO: find my responses */
---

<Layout title="Inbox">
  <main>
    <div class="content-container">
      <div class="max-w-3xl mx-auto px-4">
        <h1 class="font-4xl text-3xl font-bold mt-4 text-purple-600">
          View your Questions
        </h1>
        <p class="instructions">
          <strong>Instructions:</strong> Choose a question from your inbox? <br />
        </p>

        <div class="question-container">  
          {postsFromDB.map(post => (
            <article class="flex flex-col gap-2 p-6 border items-baseline rounded-md">
              <span class="inline-block px-2 bg-blue-200 text-xs uppercase font-medium text-blue-800 rounded-md">
                {post?.post_language}
              </span>
              <p class="text-center">{post?.question}</p>
            </article>
          ))}
        </div>
      </div>
  </div>
  </main>
</Layout>

<style>
  .question-container {
    background-color: white;
    border: 2px solid rgba(var(--accent), 25%);
    padding: 2rem;
    border-radius: 0.4rem;
    max-width: 800px;
    margin: 2rem auto;
    
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    line-height: 225%;
  }

  .selection-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5%;
  }

  .post-button {
    float: right;
    margin-right: 7%;
    background-color: #18ab29;
    border-radius: 20px;
    border: 2px solid #18ab29;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px;
    text-decoration: none;
  }
  .post-button:hover {
    background-color: #5cbf2a;
  }
  .post-button:active {
    position: relative;
    top: 1px;
  }

  button {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
  }
  .button-container {
    position: fixed;
    top: 400px;
    right: 20px;
  }
  .content-container {
    margin-top: 50px;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem auto;
    border: 2px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    max-width: 800px;
  }

  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
    max-width: 90%;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
  .font-4xl {
    text-align: center;
    margin-top: 50px;
  }

  .instructions {
    text-align: center;
  }
</style>
