---
import NewQButton from "@components/NewQButton.astro";
import ListOfQuestions from "@components/ListOfQuestions";
import { getUserIdFromCookie } from "@lib/utils";
import prisma from "@lib/prisma";
import AppLayout from "@layouts/AppLayout.astro";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/login");
}
/* Verify session cookie and get user */
const userId = await getUserIdFromCookie(sessionCookie);

if (!userId) {
  return Astro.redirect("/login");
}

/* load posts from db */
const posts = await prisma.posts.findMany();
---

<AppLayout title="Language Learner - Dashboard">
  <h1 class="text-3xl font-bold mt-4 text-violet-700">Choose a question</h1>
  <p class="bg-white p-4 border-2 border-violet-300 mt-6 mb-6 rounded-md">
    <strong class="text-violet-600">Instructions:</strong> Choose a question that
    interests you and submit your response
  </p>
  <div>
    <ListOfQuestions posts={posts} client:load />
  </div>
</AppLayout>
