---
import Layout from "@layouts/Layout.astro";
import LoginForm from "@components/LoginForm";
import { getUserIdFromCookie } from "@lib/utils";

/* Verify if user is logged in */
const sessionCookie = Astro.cookies.get("session").value;
const user = await getUserIdFromCookie(sessionCookie ?? "");
if (user) {
  Astro.redirect("/dashboard");
}
---

<Layout title="Sign in">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <section class="w-full max-w-md mt-5">
      <h1 class="font-semibold text-2xl text-black w-full mb-2">Sign in</h1>
      <p class="text-zinc-500 text-sm mb-8 w-full">
        New to Language Learner? <a
          href="/signup"
          class="text-blue-400 font-medium">Sign up for an account</a
        >
      </p>
      <LoginForm client:load />
    </section>
  </main>
</Layout>
