---
import Navigation from "../components/Navigation.astro";;
import { PrismaClient } from '@prisma/client';

const { id } = Astro.params;
const prisma = new PrismaClient();
const user = await prisma.user.findUnique({
    where: {
        name: id
    }
});

---

<h1>
    {user.name}
</h1>

<h2>
    Target Language: {user.target_language}
</h2>