---
import Layout from '../layouts/Layout.astro';
import TextBox from '../components/TextBox.astro';

import Navigation from "../components/Navigation.astro";;
import { PrismaClient } from '@prisma/client';

const { id } = Astro.params;
const prisma = new PrismaClient();
---


<Layout title="Ask a question!">
	<main>
        <h1>Profile Page</h1>
		<h2>Username:</h2>
        <h2>Target language:</h2>
     </main>
</Layout>
        
       
<style>
    h1,h2 {
        text-align: center;
    }
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        text-align: center;
        line-height: 225%;
    }
    
    .selection-box {
        display: flex;
        flex-direction: column;
        width:30%;
        margin:5%
    }

    .post-button {
    float:right;
    margin-right: 7%;
	background-color:#18ab29;
	border-radius:20px;
	border:2px solid #18ab29;
	color: white;
	font-size:16px;
	font-weight:bold;
	padding:16px 16px;
	text-decoration:none;
    }   
    .post-button:hover {
        background-color:#5cbf2a;
    }
    .post-button:active {
        position:relative;
        top:1px;
    }

</style>

