---
import Navigation from "../components/Navigation.astro";;
import { PrismaClient } from '@prisma/client';

const { id } = Astro.params;
const prisma = new PrismaClient();
// const user = await prisma.user.findUnique({
//     where: {
//         name: id
//     }
// });

---

<p>
    user pages constuction emoji
</p>