---
import Layout from '../layouts/Layout.astro';
import TextBox from '../components/TextBox.astro';
---


<Layout title="Ask a question!">
	<main>
		<h1>Create a Question:</h1>
        <TextBox placeholderText="Ask question here..."/>
		<label for="difficulty">Choose a difficulty:</label>

        <select name="difficulty" id="difficulty">
            <option value="Select">Select an Option</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>

    </main>
</Layout>

<style>
    input
</style>

