---
import Layout from '../layouts/Layout.astro';
import TextBox from '../components/TextBox.astro';
---


<Layout title="Ask a question!">
	<main>
		<h1>Create a Question:</h1>
        <TextBox placeholderText="Ask question here..."/>
			

    </main>
</Layout>

<style>
    input
</style>

