---
import Layout from '../layouts/Layout.astro';
import TextBox from '../components/TextBox.astro';
---


<Layout title="Ask a question!">
	<main>
		<h1>Create a Question:</h1>
        <TextBox placeholderText="Ask question here..."/>
        
        
        <div class="flex-container">
            <div class="selection-box">
                <label class="selector-label" for="difficulty">Choose a difficulty:</label>
                <select class="selection" name="difficulty" id="difficulty">
                    <option value="Select">Select an Option</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </div>
                
            <div class="selection-box">
                <label class="selector-label" for="topic">Choose a topic:</label>
                <select name="topic" id="topic">
                    <option value="Select">Select an Option</option>
                    <option value="Politics">Politics</option>
                    <option value="DailyLife">Daily Life</option>
                    <option value="Philosophy">Philosophy</option>
                </select>
            </div>

            <div class="selection-box">
                <label class="selector-label" for="lang">Choose a langauge:</label>
                <select name="lang" id="language">
                    <option value="Select">Select an Option</option>
                    <option value="Spanish">Spanish</option>
                    <option value="French">French</option>
                    <option value="English">English</option>
                </select>
            </div>
        </div>
        <a href="#" class="post-button">Post</a>


    </main>
</Layout>

<style>
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        text-align: center;
        line-height: 225%;
        /* margin: 25px */
    }
    
    .selection-box {
        display: flex;
        flex-direction: column;
        width:30%;
        margin:5%
    }

    .post-button {
    float:right;
    margin-right: 7%;
	background-color:#44c767;
	border-radius:20px;
	border:2px solid #18ab29;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:16px 16px;
	text-decoration:none;
    }   
    .post-button:hover {
        background-color:#5cbf2a;
    }
    .post-button:active {
        position:relative;
        top:1px;
    }

</style>

