---
import Layout from "../../layouts/Layout.astro";
import CorrectionForm from "../../components/CorrectionForm";
import prisma from "../../lib/prisma";

// get response post information via dynamic routing of in the url
const id = Astro.params.responseId;
const response = await prisma.responses.findFirst({
  where: {
    response_id: id
  }
});

const post = await prisma.posts.findFirst({
  where: {
    post_id: response?.post_id
  }
});

---
<Layout title="Language Learner">
    <div class="content-container">
      <main class="max-w-3xl mx-auto px-4">
        <h1 class="font-4xl text-3xl font-bold mt-4 text-purple-600">
          Correct a Response
        </h1>
        <p class="instructions">
          <strong>Instructions:</strong> Type the corrected response in the box below <br />
        </p>
        
        <div class="question-container">
            <!-- The original question -->
            <article class="flex flex-col gap-2 p-6 border items-baseline rounded-md">
              <span class="inline-block px-2 bg-blue-200 text-xs uppercase font-medium text-blue-800 rounded-md">
                {post?.post_language}
              </span>
              <p>{post?.question}</p>
            </article>
            <!-- The other user's repsone -->
            <article class="flex flex-col gap-2 p-6 border items-baseline rounded-md">
                <p>{response?.response_content}</p>
              </article>

            <!-- The form to correct the response -->
            <CorrectionForm post_id={id} client:load />
        </div>
      </main>
    </div>
  </Layout>
  
  <style>
    .question-container {
      background-color: white;
      border: 2px solid rgba(var(--accent), 25%);
      padding: 2rem;
      border-radius: 0.4rem;
      max-width: 800px;
      margin: 2rem auto;
    }
    button {
      border: 1px solid black;
      margin: 5px;
      padding: 5px;
    }
    .button-container {
      position: fixed;
      top: 400px;
      right: 70px;
    }
    .content-container {
      margin-top: 50px;
      text-align: center;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem auto;
      border: 2px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
      max-width: 800px;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
  </style>
  