---
import NavBarButton from './Link.astro';

---


<ul role="list">
    <NavBarButton 
        href="" 
        text="Home"
    />
    <p class="site-title">Langauge Learner</p>
    <NavBarButton 
        href="/inbox" 
        text="Inbox"

    />
    <NavBarButton 
        href="/profile" 
        text="Profile"
    />
</ul>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .site-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 1rem;
    }
</style>