---
import Layout from "@layouts/Layout.astro";
import SignoutButton from "@components/SignoutButton";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <nav
    class="flex justify-between items-center px-6 py-4 bg-violet-200 font-medium rounded-md m-4"
  >
    <a href="/" class="sm:text-xl text-zinc-700 hover:text-zinc-800 font-bold"
      >Language Learner</a
    >
  
  <ul class="flex gap-6 text-violet-600 items-center">
    <li>
      <a href="/inbox">Inbox</a>
    </li>
    <li>
      <a href="/question">Ask</a>
    </li>
    <SignoutButton client:idle />
  </ul>
</nav>
</Layout>
<main class="max-w-3xl mx-auto px-4 sm:mt-10 mt-6">
  <slot />
</main>
